.main-content {
	position: absolute;
	top: 4rem;
	right: 0;
	bottom: 0;
	display: inline-block;
	margin-top: 4rem;
	position: relative;
	width: 100%;
	top: 6.3rem;
}

@media screen and (min-width: 850px) {
	.main-content {
		width: calc(100% - 250px);
		top: 0;
	}
}

@media screen and (min-width: 850px) {
	.main-content.is-scrolled {
		position: absolute;
		top: 15.3rem;
	}
}

.lt-ie9 .main-content {
	width: 75%;
}

.usa-center {
	text-align: center;
}

.usa-site-header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #112e51;
	width: 100%;
	z-index: 1;
}

@media screen and (min-width: 850px) {
	.usa-site-header {
		position: relative;
	}
}

@media screen and (min-aspect-ratio: 13/9) and (max-width: 850px)
{
	.usa-site-header {
		position: absolute;
	}
}

.usa-site-header a {
	border-bottom: none;
}

.usa-site-header em {
	display: block;
	font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 700;
	margin: 0;
}

@media screen and (min-width: 850px) {
	.usa-site-header em {
		display: block;
		font-size: 2rem;
	}
}

.usa-site-header .usa-button-list {
	float: right;
	display: none;
	margin-top: -5px;
}

@media screen and (min-width: 850px) {
	.usa-site-header .usa-button-list {
		line-height: 8rem;
		margin-top: 0;
		display: block;
		padding-right: 3rem;
	}
}

.usa-site-header .usa-button-list li {
	display: inline;
	font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

.usa-site-header .usa-button-list li:last-child .usa-button {
	margin-right: 0;
}

.usa-site-header .usa-button-list .usa-button {
	margin-top: 0;
	margin-bottom: 0;
}

.site-navbar {
	height: 4rem;
}

@media screen and (min-width: 850px) {
	.site-navbar {
		height: 8rem;
	}
}

@media screen and (min-width: 850px) {
	.site-navbar.is-scrolled {
		display: none;
	}
}

@-moz-document url-prefix () {
	@media screen and (min-width: 850px) {
		.site-navbar {
			padding-top: 1px;
		}
	}
}

.site-logo {
	float: left;
	line-height: 37px;
	margin-top: 3px;
	padding-left: 1.5rem;
}

@media screen and (min-width: 850px) {
	.site-logo {
		line-height: 7.5rem;
		margin-top: 5px;
		padding-left: 3rem;
	}
}

.site-logo em {
	color: #ffffff;
	text-decoration: none;
}

.menu-btn {
	background-color: #0071bc;
	color: #ffffff;
	display: inline;
	float: right;
	font-size: 1.3rem;
	line-height: 4rem;
	height: 4rem;
	width: 5.8rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

@media screen and (min-width: 850px) {
	.menu-btn {
		display: none;
	}
}

.menu-btn:hover {
	color: #ffffff;
	background-color: #205493;
}

.menu-btn:visited {
	color: #ffffff;
}

.kudos-content {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-bottom: 5em;
	max-width: 1040px;
	position: relative;
}

@media ( min-width : 850px) {
	.kudos-content {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

.kudos-content header>h1 {
	display: inline-block;
	margin-top: 0;
}

.kudos-content section>h2 {
	display: inline-block;
}

.kudos-content section>.tooltip {
	margin-top: 56px;
}

button.accordion {
	background-color: #0071bc;
	color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
	background-color: #205493;
}

button.accordion:after {
	content: '\02795';
	font-size: 13px;
	color: #ffffff;
	float: right;
	margin-left: 5px;
}

button.accordion.active:after {
	content: "\2796";
}

div.panel {
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: 0.6s ease-in-out;
	opacity: 0;
}

div.panel.show {
	opacity: 1;
	max-height: 500px;
	overflow-y: auto;
}