.rating {
    border: none;
    float: left;
    margin-right : 2.5em;
    margin-left: 2.5em;
    margin-top : -2em;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 2em;
    display: inline-block;
    content: "★";
}

.rating > .half:before {
    content: "★";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/** Highlight stars on hover **/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

/* hover current star when changing rating */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 